<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Forgery Alert: Uncovering Artificial audio with DeepFake Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ui-1.mp4') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='ui-2.mp4') }}">
</head>
<body>
  <div class="video-background">
    <video id="background-video" autoplay muted loop>
        <source src="{{ url_for('static', filename='ui-1.mp4') }}" type="video/mp4">
    </video>
    <div class="top0"><h1>Audio Forgery Alert : Uncovering Artificial audio with DeepFake Detection</h1></div>
    <div class="top1">
      <form id="upload-form" action="/" method="post" enctype="multipart/form-data">
      <input type="file" name="file" accept=".mp3,.mp4" required>
      <button type="submit">Check the Audio</button>
      </form>
    </div>
    {% if result is defined %}
    <div class="top2">
        <p>The uploaded audio is to be {{ result }}  Generated.</p>
    </div>
      <div id="audio">

      </div>
    {% endif %}
  </div>

  <script>
    document.getElementById('upload-form').addEventListener('submit', function(event) {
        event.preventDefault();
        document.getElementById('background-video').src = "{{ url_for('static', filename='ui-2.mp4') }}";
        this.submit();
    });
  </script>
</body>
</html>
